@charset "utf-8";

a{
    color: black;
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
}
img{
    max-width: 100%;
}
#logo {
    width: 100%; /* Definimos un ancho para el logo */
    position: relative;
    margin: 0 auto; /* Centramos horizontalmente el logo */
}


#logo-productos {
    width: 40%; /* Definimos un ancho para el logo */
    position: relative;
    margin: 0 auto; /* Centramos horizontalmente el logo */
    margin-top: -50px; /* Centramos horizontalmente el logo */
}
#logo-nosotros {
    width: 40%; /* Definimos un ancho para el logo */
    position: relative;
    margin: 0 auto; /* Centramos horizontalmente el logo */
    margin-top: -50px; /* Centramos horizontalmente el logo */
}
#logo-cuidados {
    width: 40%; /* Definimos un ancho para el logo */
    position: relative;
    margin: 0 auto; /* Centramos horizontalmente el logo */
    margin-top: -50px; /* Centramos horizontalmente el logo */
}
#logo-contacto{
    width: 40%; /* Definimos un ancho para el logo */
    position: relative;
    margin: 0 auto; /* Centramos horizontalmente el logo */
    margin-top: -50px; /* Centramos horizontalmente el logo */
}
#logo-giftcard{
    width: 40%; /* Definimos un ancho para el logo */
    position: relative;
    margin: 0 auto; /* Centramos horizontalmente el logo */
    margin-top: -50px; /* Centramos horizontalmente el logo */
}
header {
    display: flex;
    justify-content: space-between; /* Coloca el logo a la izquierda y el icono de hamburguesa a la derecha */
    align-items: center; /* Centra verticalmente los elementos */
}

.destacado{
    margin-left: 2em;
}

ul {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif; 
    background-image: url("../imagenes/fondo.sitioweb.jpg");
    background-size: cover; /* Para que la imagen cubra todo el cuerpo */
    background-repeat: no-repeat;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body{
    display: grid;
    grid-template-areas: 
    "titulo"
    "menu"
    "principal"
    "accesoria"
    "pie de pagina";
    grid-template-rows: auto auto 1fr;
}

main {
    flex: 1;
}


.home{
    width: 6em;
}
.hamburguesa {
    cursor: pointer;
    padding: 10px;
}

.search-container {
    position: relative;
    bottom: 30px;
    text-align: center;
}

#menu {
    font-family: 'Bebas Neue', sans-serif; 
    display: none;
    position: absolute;
    top: 5%;
    left: 0;
    padding: 1em;
    backdrop-filter: blur(10px); /* Agrega el efecto de desenfoque */
    background-color: rgba(255, 255, 255, 0.5); /* Ajusta la opacidad del fondo */
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */


}


#menu ul {
    list-style: none;
    padding: 0;
}

#menu li {
    margin-bottom: 1em;
}

/*probar*/


.carousel {
    position: relative;
    max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 3em;
    overflow: hidden;
    /* Agrega la propiedad 'display: flex' para alinear verticalmente el contenido */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-images {
    /* Elimina 'display: flex' para que las imágenes no se alineen horizontalmente */
    display: block;
    transition: transform 0.5s ease;
    text-align: center; /* Centra las imágenes horizontalmente */
}

.carousel-images img {
    width: 70%;
    height: auto;
    margin: auto; /* Centra las imágenes horizontalmente */
}

.linea-footer {
    width: 100%; /* Ajusta el ancho de la línea */
    border-top: 2px solid #000000; /* Define el color y el estilo de la línea */
    margin-top: 20px; /* Ajusta el margen superior para separarla del contenido superior */
    margin-bottom: 20px; /* Ajusta el margen inferior para separarla del contenido inferior */
}

.prev
.next {
    position: absolute;
    /* Ajusta la posición vertical al 50% del contenedor padre */
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(236, 14, 14, 0.458);
    color: rgb(44, 4, 4);
    border-color: #555;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


/* Ajustes de posición y estilo cuando se abre el menú */
#menu.open {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
    .scroll-up-button {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #333;
        color: #fff;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
    }
    
    .scroll-up-button:hover {
        background-color: #555;
    }

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.producto {
    width: calc(33.33% - 20px); /* Ancho del producto, considerando el margen entre productos */
    margin: 0 auto; /* Centramos horizontalmente el logo */
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .producto {
        width: calc(50% - 20px); /* Ancho del producto al 50% para mostrar 2 columnas en pantallas de tamaño mediano */
    }
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 480px) {
    .producto {
        width: calc(100% - 20px); /* Ancho del producto al 100% para mostrar una sola columna en pantallas pequeñas */
    }
}

footer {
    margin-left: 10px;
    flex-shrink: 0;
}
.p{
    margin: 0 auto;
}

/*probar*/


.contenedor-index{
/* Estilos para pantallas más pequeñas */
 @media screen and (max-width: 768px) {
    /* Reglas CSS para pantallas con un ancho máximo de 768px */
    body {
        font-size: 14px;
    }

    /* Otras reglas CSS específicas para pantallas pequeñas */
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Reglas CSS para pantallas con un ancho mínimo de 768px y máximo de 1024px */
    body {
        font-size: 16px;
    }

    /* Otras reglas CSS específicas para pantallas medianas */
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 1024px) {
    /* Reglas CSS para pantallas con un ancho mínimo de 1024px */
    body {
        font-size: 18px;
    }

    /* Otras reglas CSS específicas para pantallas grandes */
}
}




.producto img {
    max-width: 100%;
    height: auto;
    box-shadow: 10px 500px 800px red; /* Sombra suave */
}

/*TODAVIA NO VEO EL CAMBIO PERO LO DEJO XLAS/*

/* Estilos generales */
/* Estilos específicos para la página de productos */
.contenedor-giftcard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; /* Espacio entre las imágenes */
    padding: 20px;  /* Espacio alrededor del contenedor */
}

.contenedor-giftcard .producto {
    width: 100%; /* Una imagen por fila en dispositivos móviles */
}

.contenedor-giftcard .producto img {
    max-width: 100%;
    height: auto;
}

/* Media queries para tabletas */
@media screen and (min-width: 968px) {
    .contenedor-giftcard .producto {
        width: calc(70% - 20px); /* Dos productos por fila en tablet */
    }
}

/* Media queries para computadoras */
@media screen and (min-width: 1024px) {
    .contenedor-giftcard .producto {
        width: 50px; /* Tres productos por fila en computadora */
    }
}



/*probar*/


.contenedor-nosotros {
    display: flex;
    flex-direction: column; /* Alinear elementos en una fila */
    align-items: center; /* Centrar verticalmente los elementos */
    max-width: 100%; /* Ancho máximo del contenedor */
    padding: 20px; /* Espacio alrededor del contenido */
}

.texto-nosotros {
    max-width: 100%; /* Ancho máximo del texto */
    padding-bottom: 20px; /* Espacio entre el texto y la imagen */
    text-align: justify; /* Alinear el texto justificado */
     font-family: 'Inconsolata', monospace;
}
@media screen and (min-width: 99968px) {
    .contenedor-giftcard .producto {
        width: calc(70% - 20px); /* Dos productos por fila en tablet */
    }
}

/* Media queries para computadoras */
@media screen and (min-width: 1024px) {
    .contenedor-giftcard .producto {
        width: calc(33.33% - 20px); /* Tres productos por fila en computadora */
    }
}
.contenedor-giftcard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    grid-gap:20px;
    padding: 20px; /* Añade un espacio alrededor del contenedor */
}

.producto {
    text-align: center;
}
.producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
    border: 2px solid #ddd; /* Agrega un borde de 2px sólido y gris alrededor de la imagen */
    border-radius: 8px; /* Añade esquinas redondeadas al borde */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
}

/* Cambia el color del borde cuando el usuario pase el ratón sobre la imagen */
.producto img:hover {
    border-color: #aaa;
}


.producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
    max-height: 200px; /* Ajusta la altura máxima de las imágenes */
}

/* Media queries para hacer el diseño responsivo */
@media screen and (max-width: 798px) {
    .contenedor-giftcard {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        padding: 10px; /* Reduce el espacio alrededor del contenedor en pantallas más pequeñas */
    }
}

@media screen and (max-width: 1000px) {
    .contenedor-giftcard {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        padding: 5px; /* Reduce aún más el espacio alrededor del contenedor en pantallas muy pequeñas */
    }
}



.contenedor-cuidados {
    display: flex;
    flex-direction: column; /* Alinear elementos en una fila */
    align-items: center; /* Centrar verticalmente los elementos */
    max-width: 100%; /* Ancho máximo del contenedor */
    padding: 20px; /* Espacio alrededor del contenido */
}
.texto-cuidados {
    max-width: 100%; /* Ancho máximo del texto */
    padding-bottom: 20px; /* Espacio entre el texto y la imagen */
    text-align: justify; /* Alinear el texto justificado */
     font-family: 'Inconsolata', monospace;
}

.imagen-cuidados {
    max-width: 100%; /* Imagen se adapta al ancho del contenedor */
    height: auto; /* Altura ajustada automáticamente */
    display: block;
        
    }
    

/* Estilos para las estrellas */

.contenedor-cuidados{
ul{
    list-style: none; /* Elimina los puntos de la lista */
}

li::before {
    content: "\f005"; /* Código Unicode del icono de estrella en Font Awesome */
    font-family: "Font Awesome 5 Free"; /* Familia de fuente de Font Awesome */
    margin-right: 5px; /* Espacio entre el ícono de estrella y el texto */
}
}
.texto-contacto {
    max-width: 100%; /* Ancho máximo del texto */
    padding-bottom: 20px; /* Espacio entre el texto y la imagen */
    text-align: justify; /* Alinear el texto justificado */
     font-family: 'Inconsolata', monospace;
     position: relative;
    left: 7%
}
@media screen and (max-width: 600px) {
    .contenedor {
        flex-direction: column-reverse; /* Cambiar el orden de los elementos */
    }
    .texto {
        padding-bottom: 0; /* Eliminar el espacio entre el texto y la imagen */
    }
}

    /* Ajustes adicionales si es necesario */
video {
    width: 70%; /* Ancho del video al 100% del contenedor */
    position: relative;
    bottom: 50px;
    height: auto; /* Altura automática para mantener la proporción */
    display: block; /* Para asegurar que el video sea un elemento de bloque */
    margin: 0 auto; /* Centrado horizontal */
}
    
/* Estilos generales para todos los dispositivos */

/* Estilos para tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Agrega tus estilos específicos para tablet aquí */
    .carousel-images img {
        width: 50%; /* Por ejemplo, ajusta el ancho de las imágenes del carrusel para tablet */
    }

    /* Otros estilos para tablet */
}

/* Estilos para escritorio */
@media (min-width: 1024px) {
    /* Agrega tus estilos específicos para escritorio aquí */
    .carousel-images img {
        width: 40%; /* Por ejemplo, ajusta el ancho de las imágenes del carrusel para escritorio */
    }

    /* Otros estilos para escritorio */
}








/* comentarios */


